$baseColor: #1890ff;
//sidebar
$menuText: rgba(0,0,0,0.85);
$menuActiveText: #1890ff;
$subMenuActiveText: rgba(0,0,0,0.85);

$menuBg: #fff;
$menuHover: rgba(0,0,0,0.05);

$subMenuBg: #fff;
$subMenuHover: rgba(0,0,0,0.05);

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
